openapi: 3.0.0
externalDocs:
  description: Documentation
  url: https://docs.saltedge.com/account_information/v5
info:
  version: 5.0.0
  title: Salt Edge Account Information API
  description: API Reference for services
  contact:
    name: Support Team
    email: support@saltedge.com
    url: https://www.saltedge.com/pages/contact
servers:
  - url: https://www.saltedge.com/api/v5
security:
  - app_id: []
    secret: []
paths:
  /accounts:
    get:
      summary: List of accounts
      description: You can see the list of accounts of a connection.
      tags:
        - Accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountsResponse"
              example:
                data:
                  - id: "333333333333333333"
                    name: Fake account 1
                    nature: card
                    balance: 2007.2
                    currency_code: EUR
                    extra:
                      client_name: Fake name
                    connection_id: "111111111111111111"
                    created_at: 2021-01-28T12:03:09Z
                    updated_at: 2021-01-28T12:03:09Z
                  - id: "333333333333333334"
                    name: Fake account 2
                    nature: account
                    balance: 2012.7
                    currency_code: USD
                    extra:
                      cards:
                        - 1234....5678
                        - "*8765"
                      transactions_count:
                        posted: 22
                        pending: 1
                    connection_id: "111111111111111111"
                    created_at: 2021-01-28T13:03:09Z
                    updated_at: 2021-01-28T13:03:09Z
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: query
          name: customer_id
          required: false
          schema:
            type: string
            description: the `id` of the customer containing the accounts, required unless
              `connection_id` parameter is sent. It will be ignored if
              `connection_id` is present
        - in: query
          name: from_id
          required: false
          schema:
            type: string
            description: the `id` of the account which the list starts with
        - in: query
          name: connection_id
          required: true
          schema:
            type: string
            description: the `id` of the connection whose attempts are to be fetched
  /assets:
    get:
      summary: List of assets
      description: You can get the list of all the assets that we support.
      tags:
        - Assets
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetsResponse"
              example:
                data:
                  - code: BSD
                    name: BitSend
                  - code: BSTY
                    name: GlobalBoost- Y
                  - code: BTA
                    name: Bata
                  - code: BTC
                    name: Bitcoin
                  - code: BTCD
                    name: BitcoinDark
                  - code: BTS
                    name: BitShares
  /attempts:
    get:
      summary: List of attempts
      description: Returns a paginated list of all attempts for a certain connection.
      tags:
        - Attempts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttemptsResponse"
              example:
                data:
                  - api_mode: service
                    api_version: "5"
                    automatic_fetch: true
                    user_present: false
                    categorization: personal
                    created_at: 2021-01-28T13:03:09Z
                    customer_last_logged_at: 2021-01-28T12:03:09Z
                    custom_fields: {}
                    device_type: desktop
                    daily_refresh: false
                    remote_ip: 93.184.216.34
                    exclude_accounts: []
                    fail_at: null
                    fail_error_class: null
                    fail_message: null
                    fetch_scopes:
                      - accounts
                      - transactions
                    finished: true
                    finished_recent: true
                    from_date: null
                    id: "777777777777777777"
                    interactive: false
                    locale: en
                    partial: false
                    store_credentials: true
                    success_at: 2021-01-28T14:03:09Z
                    to_date: null
                    updated_at: 2021-01-28T14:03:09Z
                    show_consent_confirmation: true
                    include_natures:
                      - account
                      - card
                      - bonus
                    last_stage:
                      created_at: 2021-01-28T14:03:09Z
                      id: "888888888888888888"
                      interactive_fields_name: null
                      interactive_html: null
                      name: finish
                      updated_at: 2021-01-28T14:03:09Z
      parameters:
        - in: query
          name: connection_id
          required: true
          schema:
            type: string
            description: the `id` of the connection whose attempts are to be fetched
  "/attempts/{attempt_id}":
    get:
      summary: Attempt object
      description: Returns a single attempt object.
      tags:
        - Attempts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttemptResponse"
              example:
                data:
                  api_mode: service
                  api_version: "5"
                  automatic_fetch: true
                  user_present: false
                  daily_refresh: false
                  categorization: personal
                  created_at: 2021-01-28T13:03:09Z
                  customer_last_logged_at: 2021-01-28T12:03:09Z
                  custom_fields: {}
                  device_type: desktop
                  remote_ip: 93.184.216.34
                  exclude_accounts: []
                  fail_at: null
                  fail_error_class: null
                  fail_message: null
                  fetch_scopes:
                    - accounts
                    - transactions
                  finished: true
                  finished_recent: true
                  from_date: null
                  id: "777777777777777777"
                  interactive: false
                  locale: en
                  partial: false
                  store_credentials: true
                  success_at: 2021-01-28T14:03:09Z
                  to_date: null
                  updated_at: 2021-01-28T14:03:09Z
                  show_consent_confirmation: true
                  include_natures:
                    - account
                    - card
                    - bonus
                  stages:
                    - created_at: 2021-01-28T13:03:09Z
                      id: "888888888888888881"
                      interactive_fields_names: null
                      interactive_html: null
                      name: start
                      updated_at: 2021-01-28T13:03:09Z
                    - created_at: 2021-01-28T13:13:09Z
                      id: "888888888888888882"
                      interactive_fields_names: null
                      interactive_html: null
                      name: connect
                      updated_at: 2021-01-28T13:13:09Z
                    - created_at: 2021-01-28T14:03:09Z
                      id: "888888888888888883"
                      interactive_fields_names: null
                      interactive_html: null
                      name: finish
                      updated_at: 2021-01-28T14:03:09Z
      parameters:
        - in: path
          name: attempt_id
          required: true
          schema:
            type: string
            description: the `id` of attempt
        - in: query
          name: connection_id
          required: true
          schema:
            type: string
            description: the `id` of the connection whose attempts are to be fetched
  /categories/learn:
    post:
      summary: Improve transaction categorization
      description: >
        Your customers can change the category of some of their transactions,
        thus improving the categorization accuracy.
      tags:
        - Categories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LearnCategoryResponse"
              example:
                data:
                  learned: true
        "400":
          description: We have received some other request format instead of JSON, or the
            body could not be parsed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoriesRequestBody"
  /categories:
    get:
      summary: List of categories
      description: You can get the list of [all the categories that we
        support](/data_enrichment/v5/#categories-list).
      tags:
        - Categories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoriesResponse"
              example:
                data:
                  business:
                    equipment_and_materials:
                      - electronics
                      - software
                      - supplies_and_furniture
                      - raw_materials
                      - consumer_goods
                    financials:
                      - dividends
                      - donations
                      - interest
                      - fees
                      - fines
                      - loans
                    human_resources:
                      - wages
                      - bonus
                      - employee_benefits
                      - education_and_trainings
                      - staff_outsourcing
                      - travel
                      - entertainment
                      - meals
                    income:
                      - investments
                      - sales
                      - returns
                      - prepayments
                    insurance:
                      - business_insurance
                      - liability_insurance
                      - health_insurance
                      - equipment_insurance
                      - vehicle_insurance
                      - professional_insurance
                    real_estate:
                      - office_rent
                      - mortgage
                      - construction_and_repair
                    services:
                      - contractors
                      - accounting_and_auditing
                      - legal
                      - consulting
                      - storage
                      - marketing_and_media
                      - online_subscriptions
                      - it_services
                      - cleaning
                    taxes:
                      - vat
                      - federal_taxes
                      - property_taxes
                      - income_taxes
                      - duty_taxes
                      - tax_return
                      - payroll_taxes
                    transport:
                      - shipping
                      - leasing
                      - gas_and_fuel
                      - taxi
                      - service_and_parts
                    uncategorized: []
                    utilities:
                      - internet
                      - phone
                      - water
                      - gas
                      - electricity
                  personal:
                    auto_and_transport:
                      - car_rental
                      - gas_and_fuel
                      - parking
                      - public_transportation
                      - service_and_parts
                      - taxi
                    bills_and_utilities:
                      - internet
                      - phone
                      - television
                      - utilities
                    business_services:
                      - advertising
                      - office_supplies
                      - shipping
                    education:
                      - books_and_supplies
                      - student_loan
                      - tuition
                    entertainment:
                      - amusement
                      - arts
                      - games
                      - movies_and_music
                      - newspapers_and_magazines
                    fees_and_charges:
                      - provider_fee
                      - loans
                      - service_fee
                      - taxes
                    food_and_dining:
                      - alcohol_and_bars
                      - cafes_and_restaurants
                      - groceries
                    gifts_and_donations:
                      - charity
                      - gifts
                    health_and_fitness:
                      - doctor
                      - personal_care
                      - pharmacy
                      - sports
                      - wellness
                    home:
                      - home_improvement
                      - home_services
                      - home_supplies
                      - mortgage
                      - rent
                    income:
                      - bonus
                      - investment_income
                      - paycheck
                    insurance:
                      - car_insurance
                      - health_insurance
                      - life_insurance
                      - property_insurance
                    kids:
                      - allowance
                      - babysitter_and_daycare
                      - baby_supplies
                      - child_support
                      - kids_activities
                      - toys
                    pets:
                      - pet_food_and_supplies
                      - pet_grooming
                      - veterinary
                    shopping:
                      - clothing
                      - electronics_and_software
                      - sporting_goods
                    transfer: []
                    travel:
                      - hotel
                      - transportation
                      - vacation
                    uncategorized: []
  /connect_sessions/create:
    post:
      summary: Create Connect session
      description: Allows you to create a connect session, which will be used to access
        Salt Edge Connect for connection creation.
      tags:
        - Connect Sessions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectSessionResponse"
              example:
                data:
                  expires_at: 2021-01-28T16:03:09Z
                  connect_url: https://www.saltedge.com/connect?token=GENERATED_TOKEN
        "400":
          description: The passed `from_date` - `to_date` interval is out of consent
            `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Invalid consent period_days value or not allowed by provider
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectSessionRequestBody"
  /connect_sessions/reconnect:
    post:
      summary: Create Connect session to reconnect
      description: Allows you to create a connect session, which will be used to access
        Salt Edge Connect to reconnect a connection.
      tags:
        - Connect Sessions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectSessionResponse"
              example:
                data:
                  expires_at: 2021-01-28T16:03:09Z
                  connect_url: https://www.saltedge.com/connect?token=GENERATED_TOKEN
        "400":
          description: The passed `from_date` - `to_date` interval is out of consent
            `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Invalid consent period_days value or not allowed by provider
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReconnectSessionRequestBody"
  /connect_sessions/refresh:
    post:
      summary: Create Connect session to refresh
      description: Allows you to create a connect session, which will be used to access
        Salt Edge Connect to refresh a connection.
      tags:
        - Connect Sessions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectSessionResponse"
              example:
                data:
                  expires_at: 2021-01-28T16:03:09Z
                  connect_url: https://www.saltedge.com/connect?token=GENERATED_TOKEN
        "400":
          description: The passed `from_date` - `to_date` interval is out of consent
            `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Refresh is not possible because the consent has expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshSessionRequestBody"
  /connections:
    post:
      summary: Create a connection
      description: >
        When not using [Salt Edge Connect](#salt_edge_connect), your app will
        have to pass

        the user's values of provider's [fields](#providers-fields) within the payload.


        The credentials object should be modeled after the provider's fields.
      tags:
        - Connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
              example:
                data:
                  country_code: XF
                  created_at: 2021-01-27T15:03:09Z
                  customer_id: "222222222222222222"
                  daily_refresh: false
                  id: "111111111111111111"
                  secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
                  show_consent_confirmation: false
                  last_consent_id: "555555555555555555"
                  last_attempt:
                    api_mode: service
                    api_version: "5"
                    automatic_fetch: true
                    user_present: true
                    daily_refresh: false
                    categorization: personal
                    created_at: 2021-01-28T14:23:09Z
                    customer_last_logged_at: 2021-01-28T12:03:09Z
                    custom_fields: {}
                    device_type: desktop
                    remote_ip: 93.184.216.34
                    exclude_accounts: []
                    fail_at: null
                    fail_error_class: null
                    fail_message: null
                    fetch_scopes:
                      - accounts
                      - transactions
                    finished: true
                    finished_recent: true
                    from_date: 2020-06-07
                    id: "777777777777777777"
                    interactive: false
                    locale: en
                    partial: false
                    store_credentials: true
                    success_at: 2021-01-28T14:23:09Z
                    to_date: 2021-01-28
                    updated_at: 2021-01-28T14:23:09Z
                    show_consent_confirmation: false
                    consent_id: "555555555555555555"
                    include_natures:
                      - account
                      - card
                      - bonus
                    last_stage:
                      created_at: 2021-01-28T14:23:09Z
                      id: "888888888888888888"
                      interactive_fields_names: null
                      interactive_html: null
                      name: finish
                      updated_at: 2021-01-28T14:23:09Z
                  last_success_at: 2021-01-28T14:23:09Z
                  next_refresh_possible_at: 2021-01-28T16:03:09Z
                  provider_id: "1234"
                  provider_code: fakebank_simple_xf
                  provider_name: Fakebank Simple
                  status: active
                  store_credentials: true
                  updated_at: 2021-01-28T14:23:09Z
        "400":
          description: Provider with the `file` mode was chosen, but no file was uploaded
            before creating or reconnecting a connection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Sending a `provider_code` that is not present in our system
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Connection fetching had stopped because of fetching timeout or
            connection was deleted during fetch process
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: The client tried to create a connection that already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConnectionRequestBody"
    get:
      summary: List of connections
      description: >
        Returns all the connections accessible to your application for a certain
        customer.

        The connections are sorted in ascending order of their `id`, so the newest connections will come last.

        We recommend you fetch the whole list of connections to check whether any of the properties have changed.
      tags:
        - Connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionsResponse"
              example:
                data:
                  - country_code: XF
                    created_at: 2021-01-27T15:03:09Z
                    customer_id: "222222222222222222"
                    daily_refresh: false
                    id: "111111111111111111"
                    secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
                    show_consent_confirmation: false
                    last_consent_id: "555555555555555555"
                    last_attempt:
                      api_mode: service
                      api_version: "5"
                      automatic_fetch: true
                      user_present: false
                      daily_refresh: false
                      categorization: personal
                      created_at: 2021-01-28T14:23:09Z
                      customer_last_logged_at: 2021-01-28T12:03:09Z
                      custom_fields: {}
                      device_type: desktop
                      remote_ip: 93.184.216.34
                      exclude_accounts: []
                      fail_at: null
                      fail_error_class: null
                      fail_message: null
                      fetch_scopes:
                        - accounts
                        - transactions
                      finished: true
                      finished_recent: true
                      from_date: null
                      id: "777777777777777777"
                      interactive: false
                      locale: en
                      partial: false
                      store_credentials: true
                      success_at: 2021-01-28T14:23:09Z
                      to_date: null
                      updated_at: 2021-01-28T14:23:09Z
                      show_consent_confirmation: false
                      consent_id: "555555555555555555"
                      include_natures:
                        - account
                        - card
                        - bonus
                      last_stage:
                        created_at: 2021-01-28T14:23:09Z
                        id: "888888888888888888"
                        interactive_fields_names: null
                        interactive_html: null
                        name: finish
                        updated_at: 2021-01-28T14:23:09Z
                    last_success_at: 2021-01-28T14:23:09Z
                    next_refresh_possible_at: 2021-01-28T16:03:09Z
                    provider_id: "1234"
                    provider_code: fakebank_simple_xf
                    provider_name: Fakebank Simple
                    status: active
                    store_credentials: true
                    updated_at: 2021-01-28T14:23:09Z
        "400":
          description: Sending a value (e.g. `id`) which exceeds integer limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: query
          name: customer_id
          required: true
          schema:
            type: string
            description: the `id` of the customer, allows to fetch connections only for a
              certain customer
        - in: query
          name: from_id
          required: false
          schema:
            type: string
            description: the `id` of the connection which the list starts with
  "/connections/{connection_id}/interactive":
    put:
      summary: Interactive step
      description: >
        If the currently fetching connection requires any interactive
        credentials for fetching, Salt Edge will send the [Interactive
        callback](#interactive). Make sure to specify the `Interactive URL` in
        your client account by accessing callbacks page.


        Upon receiving the interactive callback, your app should ask the user for the interactive credentials and send them to the `/interactive` route for the connection. After that, the fetching process will continue as usual.
      tags:
        - Connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
              example:
                data:
                  country_code: XF
                  created_at: 2021-01-27T15:03:09Z
                  customer_id: "222222222222222222"
                  daily_refresh: false
                  id: "111111111111111111"
                  secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
                  show_consent_confirmation: false
                  last_consent_id: "555555555555555555"
                  last_attempt:
                    api_mode: service
                    api_version: "5"
                    automatic_fetch: false
                    user_present: false
                    daily_refresh: false
                    categorization: personal
                    created_at: 2021-01-28T14:23:09Z
                    customer_last_logged_at: 2021-01-28T12:03:09Z
                    custom_fields: {}
                    device_type: desktop
                    remote_ip: 93.184.216.34
                    exclude_accounts: []
                    fail_at: null
                    fail_error_class: null
                    fail_message: null
                    fetch_scopes:
                      - accounts
                      - transactions
                    finished: false
                    finished_recent: false
                    from_date: null
                    id: "777777777777777777"
                    interactive: true
                    locale: en
                    partial: true
                    store_credentials: true
                    success_at: 2021-01-28T14:23:09Z
                    to_date: null
                    updated_at: 2021-01-28T14:23:09Z
                    show_consent_confirmation: false
                    consent_id: "555555555555555555"
                    include_natures:
                      - account
                      - card
                      - bonus
                    last_stage:
                      created_at: 2021-01-28T14:23:09Z
                      id: "888888888888888888"
                      interactive_fields_names:
                        - sms
                      interactive_html: 

                      name: interactive
                      updated_at: 2021-01-28T14:23:09Z
                  last_success_at: 2021-01-28T14:23:09Z
                  next_refresh_possible_at: 2021-01-28T16:03:09Z
                  provider_id: "1234"
                  provider_code: fakebank_interactive_xf
                  provider_name: Fake Bank with SMS
                  status: active
                  updated_at: 2021-01-28T14:23:09Z
        "400":
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: You have excluded all the accounts from the connection fetching
            process
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: connection_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InteractiveConnectionRequestBody"
  "/connections/{connection_id}/reconnect":
    put:
      summary: Reconnect a connection
      description: >
        In order to [reconnect](#connections-reconnect) a connection, your app
        needs to send the credentials object, connection's `id`, [consent
        object](#consents-object) and/or [attempt object](#attempts-object).
        This means that the consent confirmation should be handled on the
        client's side, and the 'access terms' the customer agreed on should be
        passed.
      tags:
        - Connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
              example:
                data:
                  country_code: XF
                  created_at: 2021-01-27T15:03:10Z
                  customer_id: "222222222222222222"
                  daily_refresh: false
                  id: "111111111111111111"
                  secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
                  show_consent_confirmation: false
                  last_consent_id: "555555555555555555"
                  last_attempt:
                    api_mode: service
                    api_version: "5"
                    automatic_fetch: true
                    user_present: true
                    daily_refresh: true
                    categorization: personal
                    created_at: 2021-01-28T14:23:10Z
                    customer_last_logged_at: 2021-01-28T12:03:10Z
                    custom_fields: {}
                    device_type: desktop
                    remote_ip: 93.184.216.34
                    exclude_accounts: []
                    fail_at: null
                    fail_error_class: null
                    fail_message: null
                    fetch_scopes:
                      - accounts
                    finished: true
                    finished_recent: true
                    from_date: null
                    id: "777777777777777777"
                    interactive: false
                    locale: en
                    partial: false
                    store_credentials: true
                    success_at: 2021-01-28T14:23:10Z
                    to_date: null
                    updated_at: 2021-01-28T14:23:10Z
                    show_consent_confirmation: false
                    consent_id: "555555555555555555"
                    include_natures:
                      - account
                      - card
                      - bonus
                    last_stage:
                      created_at: 2021-01-28T14:23:10Z
                      id: "888888888888888888"
                      interactive_fields_names: null
                      interactive_html: null
                      name: finish
                      updated_at: 2021-01-28T14:23:10Z
                  last_success_at: 2021-01-28T14:23:10Z
                  next_refresh_possible_at: 2021-01-28T16:03:10Z
                  provider_id: "1234"
                  provider_code: fakebank_simple_xf
                  provider_name: Fakebank Simple
                  status: active
                  store_credentials: true
                  updated_at: 2021-01-28T14:23:10Z
        "400":
          description: The passed `from_date` - `to_date` interval is out of consent
            `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Background fetch limit (4 times in a 24 hour period) was exceeded
            (without user's presence). This restriction applies only to PSD2
            providers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: connection_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReconnectConnectionRequestBody"
  "/connections/{connection_id}/refresh":
    put:
      summary: Refresh a connection
      description: >
        Allows you to trigger a refetch of the data associated with a specific
        connection.

        Note that you can refresh a connection only if it has an active [consent](#consents).

        If the response is successful, it will contain the `next_refresh_possible_at` value, and you can expect the [usual callbacks](#callbacks) of the fetching workflow.
      tags:
        - Connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
              example:
                data:
                  country_code: MD
                  created_at: 2020-07-06T20:09:02Z
                  customer_id: "222222222222222222"
                  daily_refresh: false
                  id: "111111111111111111"
                  secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
                  show_consent_confirmation: false
                  last_consent_id: "555555555555555555"
                  last_attempt:
                    api_mode: service
                    api_version: "5"
                    automatic_fetch: true
                    user_present: false
                    daily_refresh: true
                    categorization: personal
                    created_at: 2020-07-06T16:14:53Z
                    customer_last_logged_at: 2021-01-28T12:03:10Z
                    custom_fields: {}
                    device_type: desktop
                    remote_ip: 93.184.216.34
                    exclude_accounts: []
                    fail_at: null
                    fail_error_class: null
                    fail_message: null
                    fetch_scopes:
                      - accounts
                      - transactions
                    finished: true
                    finished_recent: true
                    from_date: null
                    id: "777777777777777777"
                    interactive: false
                    locale: en
                    partial: false
                    store_credentials: true
                    success_at: 2020-07-06T16:16:19Z
                    to_date: null
                    updated_at: 2020-07-06T16:16:19Z
                    show_consent_confirmation: false
                    consent_id: "555555555555555555"
                    include_natures:
                      - account
                      - card
                      - bonus
                    last_stage:
                      created_at: 2020-07-06T16:16:19Z
                      id: "888888888888888888"
                      interactive_fields_names: null
                      interactive_html: null
                      name: finish
                      updated_at: 2016-02-02T16:16:19Z
                  last_success_at: 2020-07-06T16:16:19Z
                  next_refresh_possible_at: 2020-07-06T17:16:19Z
                  provider_id: "1234"
                  provider_code: moldindconbank_wb_md
                  provider_name: Moldindconbank Web Banking
                  status: active
                  store_credentials: true
                  updated_at: 2020-07-06T09:41:23Z
        "400":
          description: The passed `from_date` - `to_date` interval is out of consent
            `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Refresh is not possible because the consent has expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: connection_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshConnectionRequestBody"
  "/connections/{connection_id}":
    delete:
      summary: Remove a connection
      description: >
        Removes a connection from our system and revokes the consent.

        All the associated accounts and transactions to that connection will be destroyed as well.

        Salt Edge will send a [destroy](#destroy) callback to your web application. Make sure to specify the `Destroy URL` in your client account by accessing callbacks page.
      tags:
        - Connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemovedConnectionResponse"
              example:
                data:
                  id: "111111111111111111"
                  removed: true
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Too many connections are being processed at the same time from one
            application
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: connection_id
          required: true
          schema:
            type: string
            description: "`id` of the connection"
    get:
      summary: Show a connection
      description: Returns a single connection object.
      tags:
        - Connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
              example:
                data:
                  country_code: MD
                  created_at: 2020-05-07T20:09:02Z
                  customer_id: "222222222222222222"
                  daily_refresh: false
                  id: "111111111111111111"
                  secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
                  show_consent_confirmation: false
                  last_consent_id: "555555555555555555"
                  last_attempt:
                    api_mode: service
                    api_version: "5"
                    automatic_fetch: true
                    user_present: false
                    daily_refresh: false
                    categorization: personal
                    created_at: 2020-05-07T16:14:53Z
                    customer_last_logged_at: 2021-01-28T12:03:10Z
                    custom_fields: {}
                    device_type: desktop
                    remote_ip: 93.184.216.34
                    exclude_accounts: []
                    fail_at: null
                    fail_error_class: null
                    fail_message: null
                    fetch_scopes:
                      - accounts
                      - transactions
                    finished: true
                    finished_recent: true
                    from_date: null
                    id: "777777777777777777"
                    interactive: false
                    locale: en
                    partial: false
                    store_credentials: true
                    success_at: 2020-06-02T16:16:19Z
                    to_date: null
                    updated_at: 2020-06-02T16:16:19Z
                    show_consent_confirmation: false
                    consent_id: "555555555555555555"
                    include_natures:
                      - account
                      - card
                      - bonus
                    last_stage:
                      created_at: 2020-06-02T16:16:19Z
                      id: "888888888888888888"
                      interactive_fields_names: null
                      interactive_html: null
                      name: finish
                      updated_at: 2020-06-02T16:16:19Z
                  last_success_at: 2020-06-02T16:16:19Z
                  next_refresh_possible_at: 2020-06-02T17:16:19Z
                  provider_id: "1234"
                  provider_code: moldindconbank_wb_md
                  provider_name: Moldindconbank Web Banking
                  status: active
                  store_credentials: true
                  updated_at: 2020-06-02T09:41:23Z
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: connection_id
          required: true
          schema:
            type: string
            description: "`id` of the connection"
    put:
      summary: Update connection
      description: |
        Update `status`, `store_credentials` or `daily_refresh` of a connection.
      tags:
        - Connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionResponse"
              example:
                data:
                  country_code: MD
                  created_at: 2020-07-06T20:09:02Z
                  customer_id: "222222222222222222"
                  daily_refresh: false
                  id: "111111111111111111"
                  secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
                  show_consent_confirmation: false
                  last_consent_id: "555555555555555555"
                  last_attempt:
                    api_mode: service
                    api_version: "5"
                    automatic_fetch: true
                    user_present: false
                    daily_refresh: false
                    categorization: personal
                    created_at: 2020-07-06T16:14:53Z
                    customer_last_logged_at: 2021-01-28T12:03:10Z
                    custom_fields: {}
                    device_type: desktop
                    remote_ip: 93.184.216.34
                    exclude_accounts: []
                    fail_at: null
                    fail_error_class: null
                    fail_message: null
                    fetch_scopes:
                      - accounts
                      - transactions
                    finished: true
                    finished_recent: true
                    from_date: null
                    id: "425036"
                    interactive: false
                    locale: en
                    partial: false
                    store_credentials: true
                    success_at: 2020-07-06T16:16:19Z
                    to_date: null
                    updated_at: 2020-07-06T16:16:19Z
                    show_consent_confirmation: false
                    consent_id: "555555555555555555"
                    include_natures:
                      - account
                      - card
                      - bonus
                    last_stage:
                      created_at: 2020-07-06T16:16:19Z
                      id: "888888888888888888"
                      interactive_fields_names: null
                      interactive_html: null
                      name: finish
                      updated_at: 2020-07-06T16:16:19Z
                  last_success_at: 2020-07-06T16:16:19Z
                  next_refresh_possible_at: null
                  provider_id: "1234"
                  provider_code: moldindconbank_wb_md
                  provider_name: Moldindconbank Web Banking
                  status: inactive
                  store_credentials: false
                  updated_at: 2020-07-06T09:41:23Z
        "400":
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: connection_id
          required: true
          schema:
            type: string
            description: "`id` of the connection"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConnectionRequestBody"
  /consents:
    get:
      summary: List of consents
      description: Returns all the consents accessible to your application for a certain
        customer or a connection.
      tags:
        - Consents
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentsResponse"
              example:
                data:
                  - id: "555555555555555555"
                    connection_id: "111111111111111111"
                    customer_id: "222222222222222222"
                    scopes:
                      - account_details
                      - transactions_details
                    period_days: 60
                    expires_at: 2021-03-29T12:03:10Z
                    from_date: 2020-12-28
                    to_date: null
                    collected_by: client
                    revoked_at: null
                    revoke_reason: null
                    created_at: 2021-01-28T12:03:10Z
                    updated_at: 2021-01-28T12:03:10Z
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: query
          name: from_id
          required: false
          schema:
            type: string
            description: the `id` from which the next page of consents starts
        - in: query
          name: connection_id
          required: false
          schema:
            type: string
            description: the `id` of the connection containing the consents
        - in: query
          name: customer_id
          required: false
          schema:
            type: string
            description: the `id` of the customer containing the consents, required unless
              `connection_id` parameter is sent.
  "/consents/{consent_id}":
    get:
      summary: Show consent
      description: Returns the [consent object](#consents-attributes).
      tags:
        - Consents
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentResponse"
              example:
                data:
                  id: "555555555555555555"
                  connection_id: "111111111111111111"
                  customer_id: "222222222222222222"
                  scopes:
                    - account_details
                    - transactions_details
                  period_days: 60
                  expires_at: 2021-03-29T12:03:10Z
                  from_date: 2020-12-28
                  to_date: null
                  collected_by: client
                  revoked_at: null
                  revoke_reason: null
                  created_at: 2021-01-28T12:03:10Z
                  updated_at: 2021-01-28T12:03:10Z
        "404":
          description: A consent with such `id` does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: consent_id
          required: true
          schema:
            type: string
            description: the `id` of the consent
        - in: query
          name: connection_id
          required: false
          schema:
            type: string
            description: the `id` of the connection containing the consent, required unless
              `customer_id` parameter is sent
        - in: query
          name: customer_id
          required: false
          schema:
            type: string
            description: the `id` of the customer containing the consents, required unless
              `connection_id` parameter is sent.
  "/consents/{consent_id}/revoke":
    put:
      summary: Revoke consent
      description: Allows you to revoke a consent for a connection or a customer.
      tags:
        - Consents
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentResponse"
              example:
                data:
                  id: "555555555555555555"
                  connection_id: "111111111111111111"
                  customer_id: "222222222222222222"
                  scopes:
                    - account_details
                    - transactions_details
                  period_days: 60
                  expires_at: 2021-03-29T12:03:10Z
                  from_date: 2020-12-28
                  to_date: null
                  collected_by: client
                  revoked_at: 2021-01-28T15:03:10Z
                  revoke_reason: client
                  created_at: 2021-01-28T12:03:10Z
                  updated_at: 2021-01-28T12:03:10Z
        "404":
          description: A consent with such `id` does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: The consent has already been revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: consent_id
          required: true
          schema:
            type: string
            description: the `id` of the consent
        - in: query
          name: connection_id
          required: false
          schema:
            type: string
            description: the `id` of the connection containing the consent, required unless
              `customer_id` parameter is sent
        - in: query
          name: customer_id
          required: false
          schema:
            type: string
            description: the `id` of the customer containing the consents, required unless
              `connection_id` parameter is sent.
  /countries:
    get:
      summary: List of countries
      description: Returns a list of countries supported by Account Information API.
      tags:
        - Countries
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountriesResponse"
              example:
                data:
                  - code: CZ
                    name: Czech Republic
                    refresh_start_time: 1
                  - code: IL
                    name: Israel
                    refresh_start_time: 7
                  - code: MD
                    name: Moldova
                    refresh_start_time: 0
                  - code: RO
                    name: Romania
                    refresh_start_time: 0
                  - code: ES
                    name: Spain
                    refresh_start_time: 1
                  - code: GB
                    name: United Kingdom
                    refresh_start_time: 23
                  - code: XF
                    name: Fake
                    refresh_start_time: 8
                  - code: XO
                    name: Other
                    refresh_start_time: 4
      parameters:
        - in: query
          name: include_fake_providers
          required: false
          schema:
            type: boolean
            enum:
              - true
              - false
            description: Whether you wish to fetch the fake countries.
  /currencies:
    get:
      summary: List of currencies
      description: You can get the list of all the currencies that we support.
      tags:
        - Currencies
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrenciesResponse"
              example:
                data:
                  - code: AED
                    name: United Arab Emirates dirham
                  - code: AFN
                    name: Afghan afghani
                  - code: ALL
                    name: Albanian lek
                  - code: AMD
                    name: Armenian dram
                  - code: ANG
                    name: Netherlands Antillean guilder
                  - code: AOA
                    name: Angolan kwanza
                  - code: ARS
                    name: Argentine peso
                  - code: AUD
                    name: Australian dollar
                  - code: AWG
                    name: Aruban florin
  /customers:
    post:
      summary: Creates a customer.
      description: Creates a customer, returning the customer object.
      tags:
        - Customers
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedCustomerResponse"
              example:
                data:
                  id: "222222222222222222"
                  identifier: 12rv1212f1efxchsdhbgv
                  secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
        "400":
          description: We have received some other request format instead of JSON, or the
            body could not be parsed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Invalid identifier sent for identifying the customer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: The customer you are trying to create already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerRequestBody"
    get:
      summary: All customers.
      description: |
        List all of your app's customers.
        This route is available only for web applications, not mobile ones.
      tags:
        - Customers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomersResponse"
              example:
                data:
                  - id: "222222222222222222"
                    identifier: unique_customer_identifier
                    secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80
                  - id: "222222222222222223"
                    identifier: unique_customer_identifier_2
                    secret: UYhs6Q8vRyMrPjUVtW7J_O1n0hndQ25bvUJ8CIJT3
      parameters:
        - in: query
          name: identifier
          required: false
          schema:
            type: string
            description: a unique `id` of a customer
  "/customers/{customer_id}":
    get:
      summary: Show customer
      description: Returns the customer object.
      tags:
        - Customers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
              example:
                data:
                  id: "222222222222222222"
                  identifier: 12rv1212f1efxchsdhbgv
                  secret: AtQX6Q8vRyMrPjUVtW7J_O1n06qYQ25bvUJ8CIC80-8
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: integer
            description: the `id` of the customer
    delete:
      summary: Remove a customer
      description: |
        Deletes a customer, returning the customer object.
        Revokes all consents for this customer.
        This route is available only for web applications.
      tags:
        - Customers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemovedCustomerResponse"
              example:
                data:
                  deleted: true
                  id: "222222222222222222"
        "400":
          description: We have received some other request format instead of JSON, or the
            body could not be parsed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: integer
            description: the `id` of the customer
  "/customers/{customer_id}/lock":
    put:
      summary: Lock customer
      description: >
        
        Locks a customer and its data, returning the customer object.


        All customer related data including connections, accounts, transactions, attempts will not be available for reading, updating or deleting even by Salt Edge.

        This route is available only for web applications.
      tags:
        - Customers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LockedCustomerResponse"
              example:
                data:
                  locked: true
                  id: "222222222222222222"
        "400":
          description: We have received some other request format instead of JSON, or the
            body could not be parsed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: integer
            description: the `id` of the customer
  "/customers/{customer_id}/unlock":
    put:
      summary: Unlock customer
      description: |
        Unlocks a customer and its data, returning the customer object.
        This route is available only for web applications.
      tags:
        - Customers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnlockedCustomerResponse"
              example:
                data:
                  unlocked: true
                  id: "222222222222222222"
        "400":
          description: We have received some other request format instead of JSON, or the
            body could not be parsed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: integer
            description: the `id` of the customer
  /holder_info:
    get:
      summary: Holder info
      description: >
        You can query essential information about the account holder.

        Make sure to request this feature to be [enabled](#know_your_customer) for your client account.
      tags:
        - Holder Info
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HolderInfoResponse"
              example:
                data:
                  names:
                    - John Doe
                  emails:
                    - john.doe@example.com
                    - johndoe@gmail.com
                  phone_numbers:
                    - "+40981233422"
                  addresses:
                    - city: Cupertino
                      state: CA
                      street: 1 Infinite Loop
                      country_code: US
                      post_code: "95014"
      parameters:
        - in: query
          name: connection_id
          required: false
          schema:
            type: string
            description: the `id` of the connection whose holder info are to be fetched
  /merchants:
    post:
      summary: List of merchants
      description: ""
      tags:
        - Merchants
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantResponse"
              example:
                data:
                  - id: f6dabf8bb3e1cbc7cce2f4571...
                    names:
                      - mode: name
                        value: Amazon
                      - mode: transliterated_name
                        value: amazon
                    contact:
                      - mode: website
                        value: www.amazon.com
                    address:
                      country_code: GB
                  - id: ae316a83508ecaa8897e90321...
                    names:
                      - mode: name
                        value: Boots
                      - mode: transliterated_name
                        value: boots
                      - mode: operator
                        value: Boots Uk Limited
                    contact:
                      - mode: phone
                        value: +44 20 73818651
                      - mode: website
                        value: http://www.boots.com/stores/773-london-fulham-palace-road-w6-9pa
                    address:
                      country_code: GB
                      city: London
                      transliterated_city: london
                      street: Fulham Palace Road
                      transliterated_street: fulham palace road
                      post_code: W6 9Pa
                      coordinates:
                        latitude: "51.48467107"
                        longitude: "-0.220126411"
                      extra:
                        building_number: 198-200
                        shop_number: "773"
                        type_of_shop: Chemist
        "406":
          description: More than 100 objects were sent in the request (100 is the limit)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MerchantRequestBody"
  /oauth_providers/authorize:
    put:
      summary: Authorize a connection
      description: >
        Used to authorize a connection for an OAuth provider when using client
        owned [provider keys](/general/#client_provider_keys). In this flow,
        once the end-user will be authorized on the provider's side, they will
        be redirected to the `return_to` URL indicated in the [previous
        request](#oauth_providers-create), with a bunch of parameters appended
        to it by the provider that are needed for authorizing the connection.
      tags:
        - Oauth Providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthAuthorizedResponse"
              example:
                data:
                  country_code: XF
                  created_at: 2021-01-27T15:03:10Z
                  customer_id: "222222222222222222"
                  daily_refresh: false
                  id: "111111111111111111"
                  show_consent_confirmation: false
                  last_consent_id: "555555555555555555"
                  last_attempt:
                    api_mode: service
                    api_version: "5"
                    automatic_fetch: true
                    user_present: true
                    daily_refresh: false
                    categorization: personal
                    created_at: 2021-01-28T14:23:10Z
                    customer_last_logged_at: 2021-01-28T12:03:10Z
                    custom_fields: {}
                    device_type: desktop
                    remote_ip: 93.184.216.34
                    exclude_accounts: []
                    fail_at: null
                    fail_error_class: null
                    fail_message: null
                    fetch_scopes:
                      - accounts
                      - transactions
                    finished: true
                    finished_recent: true
                    from_date: null
                    id: "777777777777777777"
                    interactive: true
                    locale: en
                    partial: false
                    store_credentials: true
                    success_at: 2021-01-28T14:23:10Z
                    to_date: null
                    updated_at: 2021-01-28T14:23:10Z
                    show_consent_confirmation: false
                    consent_id: "555555555555555555"
                    include_natures:
                      - account
                      - card
                      - bonus
                    last_stage:
                      created_at: 2021-01-28T14:23:10Z
                      id: "888888888888888888"
                      interactive_fields_names: null
                      interactive_html: null
                      name: finish
                      updated_at: 2021-01-28T14:23:10Z
                  last_success_at: 2021-01-28T14:23:10Z
                  next_refresh_possible_at: 2021-01-28T16:03:10Z
                  provider_id: "1234"
                  provider_code: fakebank_oauth_xf
                  provider_name: Fakebank Oauth
                  status: inactive
                  store_credentials: true
                  updated_at: 2021-01-28T14:23:10Z
        "400":
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: The connection was already authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OauthAuthorizeRequestBody"
  /oauth_providers/create:
    post:
      summary: Create connection for OAuth provider
      description: >
        Used to create a connection for an OAuth provider.

        After receiving the response, the customer will be redirected to `return_to` URL.


        Mobile clients receive a `connection_secret` parameter in the `return_to` URL if the connection was successfully connected and an `error_message` parameter if the connection failed to connect for some reason.
      tags:
        - Oauth Providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthConnectResponse"
              example:
                data:
                  connection_id: "111111111111111111"
                  connection_secret: secret
                  attempt_id: "777777777777777777"
                  token: GENERATED_TOKEN
                  expires_at: 2021-01-28T16:03:10Z
                  redirect_url: https://www.saltedge.com/api/v5/oauth_providers/redirect?token=GENERATED_TOKEN
        "400":
          description: The passed `from_date` - `to_date` interval is out of consent
            `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Invalid consent period_days value or not allowed by provider
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OauthConnectRequestBody"
  /oauth_providers/reconnect:
    post:
      summary: Reconnect OAuth connection
      description: >
        Used to reconnect a connection for an OAuth provider.

        After receiving the response, the customer will be redirected to the `return_to` URL.


        Mobile clients receive a `connection_secret` parameter in the `return_to` URL if the connection was successfully connected and an `error_message` parameter if the connection failed to connect for some reason.
      tags:
        - Oauth Providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthConnectResponse"
              example:
                data:
                  connection_id: "111111111111111111"
                  connection_secret: secret
                  attempt_id: "777777777777777777"
                  token: GENERATED_TOKEN
                  expires_at: 2021-01-28T16:03:10Z
                  redirect_url: https://www.saltedge.com/connect?token=GENERATED_TOKEN
        "400":
          description: The passed `from_date` - `to_date` interval is out of consent
            `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Invalid consent period_days value or not allowed by provider
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OauthReconnectRequestBody"
  "/providers/{provider_code}":
    get:
      summary: Show a provider
      description: >
        Allows you to inspect a single provider in order to give

        your users a proper interface to input their credentials.

        The response will have an array of `required_fields` and `interactive_fields`,

        which are explained in more detail in [the create section](#connections-create) of this reference.
      tags:
        - Providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderResponse"
              example:
                data:
                  id: "67"
                  code: fakebank_interactive_xf
                  name: Fake Bank with SMS
                  mode: web
                  status: active
                  automatic_fetch: false
                  interactive: true
                  instruction: |
                    Valid credentials for this provider are:
                    login - any string which starts with "username",
                    password - "secret",
                    sms - "123456"
                  refresh_timeout: 5
                  customer_notified_on_sign_in: false
                  home_url: http://example.com
                  login_url: http://example.com/login
                  forum_url: https://www.saltedge.com/support_requests/new?provider_code=fakebank_interactive_xf
                  logo_url: https://d1uuj3mi6rzwpm.cloudfront.net/logos/providers/xf/fakebank_interactive_xf.svg
                  country_code: XF
                  created_at: 2014-03-19T17:55:44Z
                  updated_at: 2019-03-07T09:57:26Z
                  timezone: UTC
                  holder_info: []
                  max_consent_days: null
                  identification_mode: saltedge
                  max_interactive_delay: 180
                  optional_interactivity: false
                  regulated: false
                  max_fetch_interval: 60
                  supported_fetch_scopes:
                    - accounts
                    - transactions
                  supported_account_natures:
                    - account
                    - card
                  supported_account_types:
                    - personal
                  identification_codes:
                    - "123123"
                  bic_codes:
                    - ABCDEFGH
                  supported_iframe_embedding: true
                  supported_account_extra_fields:
                    - account_name
                    - account_number
                    - card_type
                    - cards
                    - client_name
                    - iban
                    - sort_code
                    - status
                    - swift
                  supported_transaction_extra_fields:
                    - convert
                    - original_amount
                    - original_currency_code
                    - payee
                    - posting_date
                    - transfer_account_name
                  payment_templates:
                    - SEPA
                  supported_payment_fields:
                    SEPA:
                      - amount
                      - creditor_iban
                      - creditor_name
                      - currency_code
                      - customer_ip_address
                      - description
                      - end_to_end_id
                  required_payment_fields:
                    SEPA:
                      - amount
                      - creditor_iban
                      - creditor_name
                      - currency_code
                      - customer_ip_address
                      - description
                      - end_to_end_id
                  required_fields:
                    - name: login
                      english_name: Login
                      localized_name: Login
                      nature: text
                      position: 1
                      optional: false
                      extra: {}
                    - name: password
                      english_name: Password
                      localized_name: Password
                      nature: password
                      position: 2
                      optional: false
                      extra: {}
                  interactive_fields:
                    - name: sms
                      english_name: SMS code
                      localized_name: SMS code
                      nature: number
                      position: 1
                      optional: false
                      extra: {}
        "404":
          description: Sending a `provider_code` that is not present in our system
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: provider_code
          required: true
          schema:
            type: string
            description: provider's code
  /providers:
    get:
      summary: List of providers
      description: |
        Returns all the providers we operate with.
        If a provider becomes `disabled`, it is not included in the list.
      tags:
        - Providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProvidersResponse"
              example:
                data:
                  - id: "123"
                    code: fakebank_image_xf
                    name: Fake Bank with Image
                    mode: web
                    status: active
                    automatic_fetch: false
                    customer_notified_on_sign_in: true
                    interactive: true
                    identification_mode: saltedge
                    instruction: Please fill in all the fields.
                    home_url: http://example.com
                    login_url: http://example.com/login
                    logo_url: https://cdn.com/logos/providers/xf/fake.svg
                    country_code: XF
                    refresh_timeout: 60
                    holder_info:
                      - names
                      - emails
                      - phone_numbers
                    max_consent_days: 10
                    created_at: 2021-01-18T15:03:10Z
                    updated_at: 2021-01-23T15:03:10Z
                    timezone: Europe/London
                    max_interactive_delay: 480
                    optional_interactivity: true
                    regulated: false
                    max_fetch_interval: 60
                    supported_fetch_scopes:
                      - accounts
                      - transactions
                    supported_account_extra_fields: []
                    supported_transaction_extra_fields: []
                    supported_account_natures:
                      - account
                      - card
                    supported_account_types:
                      - personal
                    identification_codes:
                      - "123123"
                    bic_codes:
                      - ABCDEFGH
                    supported_iframe_embedding: true
                    payment_templates:
                      - SEPA
                    supported_payment_fields:
                      SEPA:
                        - amount
                        - creditor_iban
                        - creditor_name
                        - currency_code
                        - customer_ip_address
                        - description
                        - end_to_end_id
                    required_payment_fields:
                      SEPA:
                        - amount
                        - creditor_iban
                        - creditor_name
                        - currency_code
                        - customer_ip_address
                        - description
                        - end_to_end_id
        "400":
          description: Sending a date value that does not fit in admissible range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: query
          name: from_id
          required: false
          schema:
            type: string
            nullable: true
            description: the `id` of the provider which the list starts with.
        - in: query
          name: from_date
          required: false
          schema:
            type: string
            nullable: true
            format: date
            description: Filtering providers by the `updated_at` attribute, starting from
              this date.
        - in: query
          name: country_code
          required: false
          schema:
            type: string
            nullable: true
            description: filtering providers by country.
        - in: query
          name: mode
          required: false
          schema:
            type: string
            enum:
              - oauth
              - web
              - api
              - file
            description: filtering providers by mode.
        - in: query
          name: include_fake_providers
          required: false
          schema:
            type: boolean
            description: whether you wish to fetch the fake providers.
        - in: query
          name: include_provider_fields
          required: false
          schema:
            type: boolean
            description: whether you wish to include all provider fields in the provider
              objects.
        - in: query
          name: provider_key_owner
          required: false
          schema:
            type: string
            enum:
              - client
              - saltedge
            description: filtering providers by key owner. When value is set as `client`,
              only providers with client-set keys will be returned. Please see
              [Client Provider Keys](/general/#client_provider_keys).
  /rates:
    get:
      summary: List of rates
      description: >
        You can get the list of all the currency rates that we support.

        You will receive the currency rates starting March 21, 2014.

        If any older date is requested, you will still receive the rates starting March 21, 2014.
      tags:
        - Rates
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatesResponse"
              example:
                data:
                  - currency_code: ZMK
                    rate: 0.0001926968
                    fail: false
                  - currency_code: ZWL
                    rate: 0.0031021699
                    fail: false
                  - currency_code: ZMW
                    rate: 0.1589825119
                    fail: false
                  - currency_code: AED
                    rate: 0.2722570106
                    fail: false
        "400":
          description: Sending a date value that does not fit in admissible range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: query
          name: date
          required: false
          schema:
            type: string
            format: date
            description: date for which currency rates will be retrieved
  /reports:
    post:
      summary: Create Financial Insights report
      description: >
        Allows you to create a report for a [customer](#customers) for a
        specific date range.
      tags:
        - Reports
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedReportResponse"
              example:
                data:
                  id: "999999999999999999"
                  customer_id: "222222222222222222"
                  customer_identifier: test@email.com
                  connection_ids:
                    - "111111111111111111"
                    - "111111111111111112"
                    - "111111111111111113"
                  status: initialized
                  created_at: 2021-01-28T15:03:10Z
        "400":
          description: We have received a wrong report type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: Invalid `to_date` value, whether out of range or wrong date format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: query
          name: customer_id
          required: true
          schema:
            type: string
            description: the `id` of the [customer](#customers) that the report will be
              generated for
        - in: query
          name: report_types
          required: true
          schema:
            type: array
            description: >
              types of reports that can be generated.


              Note: at least one report type should be requested
            items:
              type: string
              enum:
                - balance
                - expense
                - income
                - savings
        - in: query
          name: currency_code
          required: true
          schema:
            type: string
            description: main [currency code](#currencies) to be used for the report's
              generation and value conversion
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            format: date
            description: the date from which the data in the report will be included
        - in: query
          name: to_date
          required: true
          schema:
            type: string
            format: date
            description: the date to which the data in the report will be included
    get:
      summary: List of reports
      description: Returns all the general available reports for a customer.
      tags:
        - Reports
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportsResponse"
              example:
                data:
                  - id: "999999999999999990"
                    customer_id: "222222222222222222"
                    customer_identifier: test@email.com
                    connection_ids:
                      - "111111111111111111"
                      - "111111111111111112"
                    status: success
                    created_at: 2021-01-27T15:03:10Z
                  - id: "999999999999999991"
                    customer_id: "222222222222222222"
                    customer_identifier: test@email.com
                    connection_ids:
                      - "111111111111111113"
                      - "111111111111111114"
                    status: success
                    created_at: 2021-01-27T15:03:10Z
      parameters:
        - in: query
          name: customer_id
          required: false
          schema:
            type: string
            description: the `id` of the [customer](#customers) for which the report(s) has
              been requested
        - in: query
          name: from_id
          required: false
          schema:
            type: string
            description: the `id` of the report which the list starts with
  "/reports/{report_id}":
    delete:
      summary: Removes a report.
      description: Removes a report.
      tags:
        - Reports
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemovedReportResponse"
              example:
                data:
                  id: "999999999999999999"
                  deleted: true
        "404":
          description: The requested Financial Insights `id` was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: report_id
          required: true
          schema:
            type: string
            description: The `id` of the general report
    get:
      summary: Show a report.
      description: Shows the generated report with all the details.
      tags:
        - Reports
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportResponse"
              example:
                data:
                  id: "999999999999999999"
                  customer_id: "222222222222222222"
                  customer_identifier: test@mail.com
                  status: success
                  connection_ids:
                    - "111111111111111111"
                  currency_code: USD
                  from_date: 2020-10-28
                  to_date: 2021-01-27
                  report_types:
                    - balance
                    - expense
                    - income
                    - savings
                  data:
                    result:
                      accounts:
                        - id: "333333333333333333"
                          start_date: 2020-10-28
                          end_date: 2021-01-27
                          whole_months_count: 3
                          days_count: 90
                          monthly_average_transactions_count:
                            total: 10
                            income: 2
                            expense: 8
                          balance: {}
                          income: {}
                          expense: {}
                          savings: {}
                      accounts_summary:
                        start_date: 2020-10-28
                        transactions_count: 90
                        whole_months_count: 3
                        days_count: 107
                        monthly_average_transactions_count:
                          total: 10
                          income: 2
                          expense: 8
                        balance: {}
                        income: {}
                        expense: {}
                        savings: {}
                    status: success
                    to_date: 2021-01-27
                    from_date: 2020-10-28
                    report_id: 1000000000000000000
                    connections:
                      - id: "111111111111111111"
                        accounts:
                          - id: "333333333333333333"
                            name: Oauth account 1
                            nature: card
                            balance: "2171.9658356"
                            transactions:
                              start_date: 2020-12-28
                              end_date: 2021-01-27
                              first_id: "444444444444444441"
                              last_id: "444444444444444489"
                              count: 38
                            original_balance: 2004.4
                            original_currency_code: EUR
                        client_name: Client
                        customer_id: 222222222222222200
                        holder_info: null
                        provider_code: fakebank_oauth_xf
                        provider_name: Fake Bank OAuth
                    customer_id: 222222222222222200
                    report_types:
                      - balance
                      - expense
                      - income
                      - savings
                    currency_code: USD
                    connection_ids:
                      - "111111111111111111"
                    exchange_rates:
                      BTC: "7082.3464052288"
                      EUR: "1.083599"
                      GBP: "1.2341013636"
                  created_at: 2021-01-28T12:03:10Z
                  updated_at: 2021-01-28T12:03:10Z
        "404":
          description: The requested Financial Insights `id` was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
      parameters:
        - in: path
          name: report_id
          required: true
          schema:
            type: string
            description: the `id` of the report generated based on the
              [customer's](#customers) data
  /transactions/duplicate:
    put:
      summary: Mark as duplicate
      description: Mark a list of transactions as `duplicated`.
      tags:
        - Transactions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicatedTransactionResponse"
              example:
                data:
                  duplicated: true
        "400":
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "406":
          description: The client is in `restricted` status. You can find out more about
            `restricted` status on [Restricted](<%= general_link('restricted')
[...]
