openapi: 3.0.0
info:
  title: Salt Edge Account Information API
  description: API Reference for services
  contact:
    name: Support Team
    url: https://www.saltedge.com/pages/contact
    email: support@saltedge.com
  version: '5.0.0'
servers:
- url: https://www.saltedge.com/api/v5
  variables: {}
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: List of accounts
      description: You can see the list of accounts of a connection.
      operationId: Listofaccounts
      parameters:
      - name: customer_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: from_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: connection_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponse'
              example:
                data:
                - id: 333333333333333333
                  name: Fake account 1
                  nature: card
                  balance: 2007.2000000000001
                  currency_code: EUR
                  extra:
                    client_name: Fake name
                  connection_id: 111111111111111111
                  created_at: 2021-01-28T12:03:09Z
                  updated_at: 2021-01-28T12:03:09Z
                - id: 333333333333333334
                  name: Fake account 2
                  nature: account
                  balance: 2012.7000000000001
                  currency_code: USD
                  extra:
                    cards:
                    - 1234....5678
                    - '*8765'
                    transactions_count:
                      posted: 22
                      pending: 1
                  connection_id: 111111111111111111
                  created_at: 2021-01-28T13:03:09Z
                  updated_at: 2021-01-28T13:03:09Z
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /assets:
    get:
      tags:
      - Assets
      summary: List of assets
      description: You can get the list of all the assets that we support.
      operationId: Listofassets
      parameters: []
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsResponse'
              example:
                data:
                - code: BSD
                  name: BitSend
                - code: BSTY
                  name: GlobalBoost- Y
                - code: BTA
                  name: Bata
                - code: BTC
                  name: Bitcoin
                - code: BTCD
                  name: BitcoinDark
                - code: BTS
                  name: BitShares
      deprecated: false
  /attempts:
    get:
      tags:
      - Attempts
      summary: List of attempts
      description: Returns a paginated list of all attempts for a certain connection.
      operationId: Listofattempts
      parameters:
      - name: connection_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttemptsResponse'
      deprecated: false
  /attempts/{attempt_id}:
    get:
      tags:
      - Attempts
      summary: Attempt object
      description: Returns a single attempt object.
      operationId: Attemptobject
      parameters:
      - name: attempt_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: connection_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttemptResponse'
      deprecated: false
  /categories/learn:
    post:
      tags:
      - Categories
      summary: Improve transaction categorization
      description: >
        Your customers can change the category of some of their transactions, thus improving the categorization accuracy.
      operationId: Improvetransactioncategorization
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearnCategoryResponse'
              example:
                data:
                  learned: true
        400:
          description: We have received some other request format instead of JSON, or the body could not be parsed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /categories:
    get:
      tags:
      - Categories
      summary: List of categories
      description: You can get the list of [all the categories that we support](/data_enrichment/v5/#categories-list).
      operationId: Listofcategories
      parameters: []
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
              example:
                data:
                  business:
                    equipment_and_materials:
                    - electronics
                    - software
                    - supplies_and_furniture
                    - raw_materials
                    - consumer_goods
                    financials:
                    - dividends
                    - donations
                    - interest
                    - fees
                    - fines
                    - loans
                    human_resources:
                    - wages
                    - bonus
                    - employee_benefits
                    - education_and_trainings
                    - staff_outsourcing
                    - travel
                    - entertainment
                    - meals
                    income:
                    - investments
                    - sales
                    - returns
                    - prepayments
                    insurance:
                    - business_insurance
                    - liability_insurance
                    - health_insurance
                    - equipment_insurance
                    - vehicle_insurance
                    - professional_insurance
                    real_estate:
                    - office_rent
                    - mortgage
                    - construction_and_repair
                    services:
                    - contractors
                    - accounting_and_auditing
                    - legal
                    - consulting
                    - storage
                    - marketing_and_media
                    - online_subscriptions
                    - it_services
                    - cleaning
                    taxes:
                    - vat
                    - federal_taxes
                    - property_taxes
                    - income_taxes
                    - duty_taxes
                    - tax_return
                    - payroll_taxes
                    transport:
                    - shipping
                    - leasing
                    - gas_and_fuel
                    - taxi
                    - service_and_parts
                    uncategorized: []
                    utilities:
                    - internet
                    - phone
                    - water
                    - gas
                    - electricity
                  personal:
                    auto_and_transport:
                    - car_rental
                    - gas_and_fuel
                    - parking
                    - public_transportation
                    - service_and_parts
                    - taxi
                    bills_and_utilities:
                    - internet
                    - phone
                    - television
                    - utilities
                    business_services:
                    - advertising
                    - office_supplies
                    - shipping
                    education:
                    - books_and_supplies
                    - student_loan
                    - tuition
                    entertainment:
                    - amusement
                    - arts
                    - games
                    - movies_and_music
                    - newspapers_and_magazines
                    fees_and_charges:
                    - provider_fee
                    - loans
                    - service_fee
                    - taxes
                    food_and_dining:
                    - alcohol_and_bars
                    - cafes_and_restaurants
                    - groceries
                    gifts_and_donations:
                    - charity
                    - gifts
                    health_and_fitness:
                    - doctor
                    - personal_care
                    - pharmacy
                    - sports
                    - wellness
                    home:
                    - home_improvement
                    - home_services
                    - home_supplies
                    - mortgage
                    - rent
                    income:
                    - bonus
                    - investment_income
                    - paycheck
                    insurance:
                    - car_insurance
                    - health_insurance
                    - life_insurance
                    - property_insurance
                    kids:
                    - allowance
                    - babysitter_and_daycare
                    - baby_supplies
                    - child_support
                    - kids_activities
                    - toys
                    pets:
                    - pet_food_and_supplies
                    - pet_grooming
                    - veterinary
                    shopping:
                    - clothing
                    - electronics_and_software
                    - sporting_goods
                    transfer: []
                    travel:
                    - hotel
                    - transportation
                    - vacation
                    uncategorized: []
      deprecated: false
  /connect_sessions/create:
    post:
      tags:
      - Connect Sessions
      summary: Create Connect session
      description: Allows you to create a connect session, which will be used to access Salt Edge Connect for connection creation.
      operationId: CreateConnectsession
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectSessionRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectSessionResponse'
              example:
                data:
                  expires_at: 2021-01-28T16:03:09Z
                  connect_url: https://www.saltedge.com/connect?token=GENERATED_TOKEN
        400:
          description: The passed `from_date` - `to_date` interval is out of consent `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Invalid consent period_days value or not allowed by provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /connect_sessions/reconnect:
    post:
      tags:
      - Connect Sessions
      summary: Create Connect session to reconnect
      description: Allows you to create a connect session, which will be used to access Salt Edge Connect to reconnect a connection.
      operationId: CreateConnectsessiontoreconnect
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconnectSessionRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectSessionResponse'
              example:
                data:
                  expires_at: 2021-01-28T16:03:09Z
                  connect_url: https://www.saltedge.com/connect?token=GENERATED_TOKEN
        400:
          description: The passed `from_date` - `to_date` interval is out of consent `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Invalid consent period_days value or not allowed by provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /connect_sessions/refresh:
    post:
      tags:
      - Connect Sessions
      summary: Create Connect session to refresh
      description: Allows you to create a connect session, which will be used to access Salt Edge Connect to refresh a connection.
      operationId: CreateConnectsessiontorefresh
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshSessionRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectSessionResponse'
              example:
                data:
                  expires_at: 2021-01-28T16:03:09Z
                  connect_url: https://www.saltedge.com/connect?token=GENERATED_TOKEN
        400:
          description: The passed `from_date` - `to_date` interval is out of consent `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Refresh is not possible because the consent has expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /connections:
    post:
      tags:
      - Connections
      summary: Create a connection
      description: >
        When not using [Salt Edge Connect](#salt_edge_connect), your app will have to pass

        the user's values of provider's [fields](#providers-fields) within the payload.


        The credentials object should be modeled after the provider's fields.
      operationId: Createaconnection
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
        400:
          description: Provider with the `file` mode was chosen, but no file was uploaded before creating or reconnecting a connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Sending a `provider_code` that is not present in our system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Connection fetching had stopped because of fetching timeout or connection was deleted during fetch process
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: The client tried to create a connection that already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
    get:
      tags:
      - Connections
      summary: List of connections
      description: >
        Returns all the connections accessible to your application for a certain customer.

        The connections are sorted in ascending order of their `id`, so the newest connections will come last.

        We recommend you fetch the whole list of connections to check whether any of the properties have changed.
      operationId: Listofconnections
      parameters:
      - name: customer_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: from_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionsResponse'
        400:
          description: Sending a value (e.g. `id`) which exceeds integer limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /connections/{connection_id}/interactive:
    put:
      tags:
      - Connections
      summary: Interactive step
      description: >
        If the currently fetching connection requires any interactive credentials for fetching, Salt Edge will send the [Interactive callback](#interactive). Make sure to specify the `Interactive URL` in your client account by accessing <a href='https://www.saltedge.com/clients/callbacks/edit' target="_blank">callbacks page</a>.


        Upon receiving the interactive callback, your app should ask the user for the interactive credentials and send them to the `/interactive` route for the connection. After that, the fetching process will continue as usual.
      operationId: Interactivestep
      parameters:
      - name: connection_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractiveConnectionRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
        400:
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: You have excluded all the accounts from the connection fetching process
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /connections/{connection_id}/reconnect:
    put:
      tags:
      - Connections
      summary: Reconnect a connection
      description: >
        In order to [reconnect](#connections-reconnect) a connection, your app needs to send the credentials object, connection's `id`, [consent object](#consents-object) and/or [attempt object](#attempts-object). This means that the consent confirmation should be handled on the client's side, and the 'access terms' the customer agreed on should be passed.
      operationId: Reconnectaconnection
      parameters:
      - name: connection_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconnectConnectionRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
        400:
          description: The passed `from_date` - `to_date` interval is out of consent `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Background fetch limit (4 times in a 24 hour period) was exceeded (without user's presence). This restriction applies only to PSD2 providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /connections/{connection_id}/refresh:
    put:
      tags:
      - Connections
      summary: Refresh a connection
      description: >
        Allows you to trigger a refetch of the data associated with a specific connection.

        Note that you can refresh a connection only if it has an active [consent](#consents).

        If the response is successful, it will contain the `next_refresh_possible_at` value, and you can expect the [usual callbacks](#callbacks) of the fetching workflow.
      operationId: Refreshaconnection
      parameters:
      - name: connection_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshConnectionRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
        400:
          description: The passed `from_date` - `to_date` interval is out of consent `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Refresh is not possible because the consent has expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /connections/{connection_id}:
    delete:
      tags:
      - Connections
      summary: Remove a connection
      description: >
        Removes a connection from our system and revokes the consent.

        All the associated accounts and transactions to that connection will be destroyed as well.

        Salt Edge will send a [destroy](#destroy) callback to your web application. Make sure to specify the `Destroy URL` in your client account by accessing <a href='https://www.saltedge.com/clients/callbacks/edit' target="_blank">callbacks page</a>.
      operationId: Removeaconnection
      parameters:
      - name: connection_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemovedConnectionResponse'
              example:
                data:
                  id: 111111111111111111
                  removed: true
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Too many connections are being processed at the same time from one application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
    get:
      tags:
      - Connections
      summary: Show a connection
      description: Returns a single connection object.
      operationId: Showaconnection
      parameters:
      - name: connection_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
    put:
      tags:
      - Connections
      summary: Update connection
      description: >
        Update `status`, `store_credentials` or `daily_refresh` of a connection.
      operationId: Updateconnection
      parameters:
      - name: connection_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectionRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
        400:
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /consents:
    get:
      tags:
      - Consents
      summary: List of consents
      description: Returns all the consents accessible to your application for a certain customer or a connection.
      operationId: Listofconsents
      parameters:
      - name: from_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: connection_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: customer_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentsResponse'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /consents/{consent_id}:
    get:
      tags:
      - Consents
      summary: Show consent
      description: Returns the [consent object](#consents-attributes).
      operationId: Showconsent
      parameters:
      - name: consent_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: connection_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: customer_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        404:
          description: A consent with such `id` does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /consents/{consent_id}/revoke:
    put:
      tags:
      - Consents
      summary: Revoke consent
      description: Allows you to revoke a consent for a connection or a customer.
      operationId: Revokeconsent
      parameters:
      - name: consent_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: connection_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: customer_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        404:
          description: A consent with such `id` does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: The consent has already been revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /countries:
    get:
      tags:
      - Countries
      summary: List of countries
      description: Returns a list of countries supported by Account Information API.
      operationId: Listofcountries
      parameters:
      - name: include_fake_providers
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
              example:
                data:
                - code: CZ
                  name: Czech Republic
                  refresh_start_time: 1
                - code: IL
                  name: Israel
                  refresh_start_time: 7
                - code: MD
                  name: Moldova
                  refresh_start_time: 0
                - code: RO
                  name: Romania
                  refresh_start_time: 0
                - code: ES
                  name: Spain
                  refresh_start_time: 1
                - code: GB
                  name: United Kingdom
                  refresh_start_time: 23
                - code: XF
                  name: Fake
                  refresh_start_time: 8
                - code: XO
                  name: Other
                  refresh_start_time: 4
      deprecated: false
  /currencies:
    get:
      tags:
      - Currencies
      summary: List of currencies
      description: You can get the list of all the currencies that we support.
      operationId: Listofcurrencies
      parameters: []
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrenciesResponse'
              example:
                data:
                - code: AED
                  name: United Arab Emirates dirham
                - code: AFN
                  name: Afghan afghani
                - code: ALL
                  name: Albanian lek
                - code: AMD
                  name: Armenian dram
                - code: ANG
                  name: Netherlands Antillean guilder
                - code: AOA
                  name: Angolan kwanza
                - code: ARS
                  name: Argentine peso
                - code: AUD
                  name: Australian dollar
                - code: AWG
                  name: Aruban florin
      deprecated: false
  /customers:
    post:
      tags:
      - Customers
      summary: Creates a customer.
      description: Creates a customer, returning the customer object.
      operationId: Createsacustomer.
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequestBody'
        required: false
      responses:
        201:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedCustomerResponse'
        400:
          description: We have received some other request format instead of JSON, or the body could not be parsed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Invalid identifier sent for identifying the customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: The customer you are trying to create already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
    get:
      tags:
      - Customers
      summary: All customers.
      description: >
        List all of your app's customers.

        This route is available only for web applications, not mobile ones.
      operationId: Allcustomers.
      parameters:
      - name: identifier
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersResponse'
      deprecated: false
  /customers/{customer_id}:
    get:
      tags:
      - Customers
      summary: Show customer
      description: Returns the customer object.
      operationId: Showcustomer
      parameters:
      - name: customer_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
    delete:
      tags:
      - Customers
      summary: Remove a customer
      description: >
        Deletes a customer, returning the customer object.

        Revokes all consents for this customer.

        This route is available only for web applications.
      operationId: Removeacustomer
      parameters:
      - name: customer_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemovedCustomerResponse'
        400:
          description: We have received some other request format instead of JSON, or the body could not be parsed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /customers/{customer_id}/lock:
    put:
      tags:
      - Customers
      summary: Lock customer
      description: >2

        Locks a customer and its data, returning the customer object.


        All customer related data including connections, accounts, transactions, attempts will not be available for reading, updating or deleting even by Salt Edge.

        This route is available only for web applications.
      operationId: Lockcustomer
      parameters:
      - name: customer_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockedCustomerResponse'
        400:
          description: We have received some other request format instead of JSON, or the body could not be parsed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /customers/{customer_id}/unlock:
    put:
      tags:
      - Customers
      summary: Unlock customer
      description: >
        Unlocks a customer and its data, returning the customer object.

        This route is available only for web applications.
      operationId: Unlockcustomer
      parameters:
      - name: customer_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlockedCustomerResponse'
        400:
          description: We have received some other request format instead of JSON, or the body could not be parsed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /holder_info:
    get:
      tags:
      - Holder Info
      summary: Holder info
      description: >
        You can query essential information about the account holder.

        Make sure to request this feature to be [enabled](#know_your_customer) for your client account.
      operationId: Holderinfo
      parameters:
      - name: connection_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolderInfoResponse'
      deprecated: false
  /merchants:
    post:
      tags:
      - Merchants
      summary: List of merchants
      description: List of merchants
      operationId: Listofmerchants
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'
              example:
                data:
                - id: f6dabf8bb3e1cbc7cce2f4571...
                  names:
                  - mode: name
                    value: Amazon
                  - mode: transliterated_name
                    value: amazon
                  contact:
                  - mode: website
                    value: www.amazon.com
                  address:
                    country_code: GB
                - id: ae316a83508ecaa8897e90321...
                  names:
                  - mode: name
                    value: Boots
                  - mode: transliterated_name
                    value: boots
                  - mode: operator
                    value: Boots Uk Limited
                  contact:
                  - mode: phone
                    value: +44 20 73818651
                  - mode: website
                    value: http://www.boots.com/stores/773-london-fulham-palace-road-w6-9pa
                  address:
                    country_code: GB
                    city: London
                    transliterated_city: london
                    street: Fulham Palace Road
                    transliterated_street: fulham palace road
                    post_code: W6 9Pa
                    coordinates: '{"latitude":"51.48467107","longitude":"-0.220126411"}'
                    extra:
                      building_number: 198-200
                      shop_number: 773
                      type_of_shop: Chemist
        406:
          description: More than 100 objects were sent in the request (100 is the limit)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /oauth_providers/authorize:
    put:
      tags:
      - Oauth Providers
      summary: Authorize a connection
      description: >
        Used to authorize a connection for an OAuth provider when using client owned [provider keys](/general/#client_provider_keys). In this flow, once the end-user will be authorized on the provider's side, they will be redirected to the `return_to` URL indicated in the [previous request](#oauth_providers-create), with a bunch of parameters appended to it by the provider that are needed for authorizing the connection.
      operationId: Authorizeaconnection
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthAuthorizeRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthAuthorizedResponse'
        400:
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: The connection was already authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /oauth_providers/create:
    post:
      tags:
      - Oauth Providers
      summary: Create connection for OAuth provider
      description: >
        Used to create a connection for an OAuth provider.

        After receiving the response, the customer will be redirected to `return_to` URL.


        Mobile clients receive a `connection_secret` parameter in the `return_to` URL if the connection was successfully connected and an `error_message` parameter if the connection failed to connect for some reason.
      operationId: CreateconnectionforOAuthprovider
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthConnectRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthConnectResponse'
              example:
                data:
                  connection_id: 111111111111111111
                  connection_secret: secret
                  attempt_id: 777777777777777777
                  token: GENERATED_TOKEN
                  expires_at: 2021-01-28T16:03:10Z
                  redirect_url: https://www.saltedge.com/api/v5/oauth_providers/redirect?token=GENERATED_TOKEN
        400:
          description: The passed `from_date` - `to_date` interval is out of consent `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Invalid consent period_days value or not allowed by provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /oauth_providers/reconnect:
    post:
      tags:
      - Oauth Providers
      summary: Reconnect OAuth connection
      description: >
        Used to reconnect a connection for an OAuth provider.

        After receiving the response, the customer will be redirected to the `return_to` URL.


        Mobile clients receive a `connection_secret` parameter in the `return_to` URL if the connection was successfully connected and an `error_message` parameter if the connection failed to connect for some reason.
      operationId: ReconnectOAuthconnection
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthReconnectRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthConnectResponse'
              example:
                data:
                  connection_id: 111111111111111111
                  connection_secret: secret
                  attempt_id: 777777777777777777
                  token: GENERATED_TOKEN
                  expires_at: 2021-01-28T16:03:10Z
                  redirect_url: https://www.saltedge.com/connect?token=GENERATED_TOKEN
        400:
          description: The passed `from_date` - `to_date` interval is out of consent `from_date` - `to_date` range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: We could not find a connection with the requested `connection_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Invalid consent period_days value or not allowed by provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /providers/{provider_code}:
    get:
      tags:
      - Providers
      summary: Show a provider
      description: >
        Allows you to inspect a single provider in order to give

        your users a proper interface to input their credentials.

        The response will have an array of `required_fields` and `interactive_fields`,

        which are explained in more detail in [the create section](#connections-create) of this reference.
      operationId: Showaprovider
      parameters:
      - name: provider_code
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderResponse'
        404:
          description: Sending a `provider_code` that is not present in our system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /providers:
    get:
      tags:
      - Providers
      summary: List of providers
      description: >
        Returns all the providers we operate with.

        If a provider becomes `disabled`, it is not included in the list.
      operationId: Listofproviders
      parameters:
      - name: from_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
          nullable: true
      - name: from_date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
          format: date
          nullable: true
      - name: country_code
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
          nullable: true
      - name: mode
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/mode3'
      - name: include_fake_providers
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_provider_fields
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: boolean
      - name: provider_key_owner
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/provider_key_owner'
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersResponse'
              example:
                data:
                - id: 123
                  code: fakebank_image_xf
                  name: Fake Bank with Image
                  mode: web
                  status: active
                  automatic_fetch: false
                  customer_notified_on_sign_in: true
                  interactive: true
                  identification_mode: saltedge
                  instruction: Please fill in all the fields.
                  home_url: http://example.com
                  login_url: http://example.com/login
                  logo_url: https://cdn.com/logos/providers/xf/fake.svg
                  country_code: XF
                  refresh_timeout: 60
                  holder_info:
                  - names
                  - emails
                  - phone_numbers
                  max_consent_days: 10
                  created_at: 2021-01-18T15:03:10Z
                  updated_at: 2021-01-23T15:03:10Z
                  timezone: Europe/London
                  max_interactive_delay: 480
                  optional_interactivity: true
                  regulated: false
                  max_fetch_interval: 60
                  supported_fetch_scopes:
                  - accounts
                  - transactions
                  supported_account_extra_fields: []
                  supported_transaction_extra_fields: []
                  supported_account_natures:
                  - account
                  - card
                  supported_account_types:
                  - personal
                  identification_codes:
                  - 123123
                  bic_codes:
                  - ABCDEFGH
                  supported_iframe_embedding: true
                  payment_templates:
                  - SEPA
                  supported_payment_fields:
                    SEPA:
                    - amount
                    - creditor_iban
                    - creditor_name
                    - currency_code
                    - customer_ip_address
                    - description
                    - end_to_end_id
                  required_payment_fields:
                    SEPA:
                    - amount
                    - creditor_iban
                    - creditor_name
                    - currency_code
                    - customer_ip_address
                    - description
                    - end_to_end_id
        400:
          description: Sending a date value that does not fit in admissible range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /rates:
    get:
      tags:
      - Rates
      summary: List of rates
      description: >
        You can get the list of all the currency rates that we support.

        You will receive the currency rates starting March 21, 2014.

        If any older date is requested, you will still receive the rates starting March 21, 2014.
      operationId: Listofrates
      parameters:
      - name: date
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
          format: date
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatesResponse'
        400:
          description: Sending a date value that does not fit in admissible range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /reports:
    post:
      tags:
      - Reports
      summary: Create Financial Insights report
      description: >
        Allows you to create a report for a [customer](#customers) for a specific date range.
      operationId: CreateFinancialInsightsreport
      parameters:
      - name: customer_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: report_types
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/report_type2'
      - name: currency_code
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: from_date
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: to_date
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedReportResponse'
              example:
                data:
                  id: 999999999999999999
                  customer_id: 222222222222222222
                  customer_identifier: test@email.com
                  connection_ids:
                  - 111111111111111111
                  - 111111111111111112
                  - 111111111111111113
                  status: initialized
                  created_at: 2021-01-28T15:03:10Z
        400:
          description: We have received a wrong report type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: A customer with such `customer_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: Invalid `to_date` value, whether out of range or wrong date format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
    get:
      tags:
      - Reports
      summary: List of reports
      description: Returns all the general available reports for a customer.
      operationId: Listofreports
      parameters:
      - name: customer_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: from_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsResponse'
              example:
                data:
                - id: 999999999999999990
                  customer_id: 222222222222222222
                  customer_identifier: test@email.com
                  connection_ids:
                  - 111111111111111111
                  - 111111111111111112
                  status: success
                  created_at: 2021-01-27T15:03:10Z
                - id: 999999999999999991
                  customer_id: 222222222222222222
                  customer_identifier: test@email.com
                  connection_ids:
                  - 111111111111111113
                  - 111111111111111114
                  status: success
                  created_at: 2021-01-27T15:03:10Z
      deprecated: false
  /reports/{report_id}:
    delete:
      tags:
      - Reports
      summary: Removes a report.
      description: Removes a report.
      operationId: Removesareport.
      parameters:
      - name: report_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemovedReportResponse'
              example:
                data:
                  id: 999999999999999999
                  deleted: true
        404:
          description: The requested Financial Insights `id` was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
    get:
      tags:
      - Reports
      summary: Show a report.
      description: Shows the generated report with all the details.
      operationId: Showareport.
      parameters:
      - name: report_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        404:
          description: The requested Financial Insights `id` was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /transactions/duplicate:
    put:
      tags:
      - Transactions
      summary: Mark as duplicate
      description: Mark a list of transactions as `duplicated`.
      operationId: Markasduplicate
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuplicateTransactionsRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicatedTransactionResponse'
              example:
                data:
                  duplicated: true
        400:
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: The client is in `restricted` status. You can find out more about `restricted` status on [Restricted](<%= general_link('restricted') %>) guides page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /transactions/unduplicate:
    put:
      tags:
      - Transactions
      summary: Remove duplicate flag
      description: Remove the duplicated flag from a list of transactions.
      operationId: Removeduplicateflag
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnduplicateTransactionsRequestBody'
        required: false
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnduplicatedTransactionResponse'
              example:
                data:
                  unduplicated: true
        400:
          description: The JSON request is incorrectly formed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: The client is in `restricted` status. You can find out more about `restricted` status on [Restricted](<%= general_link('restricted') %>) guides page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /transactions/duplicates:
    get:
      tags:
      - Transactions
      summary: List of duplicated transactions
      description: You can see the list of the duplicated transactions of an account.
      operationId: Listofduplicatedtransactions
      parameters:
      - name: account_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: from_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: connection_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        400:
          description: Sending a value (e.g. `id`) which exceeds integer limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: An account with the sent `account_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /transactions:
    get:
      tags:
      - Transactions
      summary: List of transactions
      description: You can see the list of non-duplicated transactions of an account.
      operationId: Listoftransactions
      parameters:
      - name: account_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: from_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: connection_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        400:
          description: Sending a value (e.g. `id`) which exceeds integer limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: An account with the sent `account_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
    delete:
      tags:
      - Transactions
      summary: Remove transactions
      description: Remove transactions older than a specified period.
      operationId: Removetransactions
      parameters:
      - name: account_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: customer_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: keep_days
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemovedTransactionsResponse'
              example:
                data:
                  cleanup_started: true
        404:
          description: An account with the sent `account_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        406:
          description: The client is in `restricted` status. You can find out more about `restricted` status on [Restricted](<%= general_link('restricted') %>) guides page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
  /transactions/pending:
    get:
      tags:
      - Transactions
      summary: List of pending transactions
      description: You can use this route to obtain the currently pending transactions for an account.
      operationId: Listofpendingtransactions
      parameters:
      - name: account_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: from_id
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: connection_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        400:
          description: Sending a value (e.g. `id`) which exceeds integer limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: An account with the sent `account_id` could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: false
components:
  schemas:
    Account:
      title: Account
      required:
      - id
      - name
      - nature
      - balance
      - currency_code
      - extra
      - connection_id
      - created_at
      - updated_at
      type: object
      properties:
        id:
          type: string
          description: the `id` of the account
        name:
          type: string
          description: >-
            the unique name of the account


            <strong>Note:</strong> The name directly identifies the account. In case the account’s name has changed (in the bank’s WEB/API interface, through code changes, etc.) a new account will be created.
        nature:
          $ref: '#/components/schemas/Nature'
        balance:
          type: number
          description: the account's current balance
        currency_code:
          type: string
          description: >-
            one of the possible values for [currency codes](#currencies). Maximum 3 letters.


            <strong>Note:</strong> The currency directly identifies the account. In case the account’s currency code has changed (in the bank’s WEB/API interface, through code changes, etc.) a new account will be created.
        extra:
          $ref: '#/components/schemas/AccountExtra'
        connection_id:
          type: string
          description: the `id` of the connection the account belongs to
        created_at:
          type: string
          description: time and date when the account was imported
          format: date-time
        updated_at:
          type: string
          description: the last time when the account's balance was changed or new transactions were imported
          format: date-time
    AccountExtra:
      title: AccountExtra
      type: object
      properties:
        account_name:
          type: string
          description: changeable name of the account
        account_number:
          type: string
          description: internal bank account number
        assets:
          type: array
          items:
            type: string
          description: array of crypto codes and their amounts assigned to investment account
        available_amount:
          type: number
          description: available amount in the account's currency
        balance_type:
          type: string
          description: >-
            __Examples:__ `interimAvailable`, `closingBooked`, `interimBooked`, `authorised`, `expected`, `BOOKED`, `CLAV`, `CLBD`, `XPCD`, `OTHR`, etc.


            __Note:__ The value is specific to the financial institution and can vary depending on the API standard, the bank's implementation, the account's type, country/region peculiarities, etc. This field holds an informative meaning. Usually, it is used to verify the balance consistency between customers of the same bank or between banks within the same country.
        blocked_amount:
          type: number
          description: the amount currently blocked in account's currency
        card_type:
          $ref: '#/components/schemas/CardType'
        cards:
          type: array
          items:
            type: string
          description: list of masked card numbers linked to the account
        client_name:
          type: string
          description: account client owner
        closing_balance:
          type: number
          description: account balance at the end of an accounting period
        credit_limit:
          type: number
          description: maximum amount of money that is allowed to be spent in account's currency
        current_date:
          type: string
          description: date of provider statement generation (applicable to banks)
          format: date
        current_time:
          type: string
          description: time of provider statement generation (applicable to banks)
          format: date-time
        expiry_date:
          type: string
          description: card expiry date
          format: date
        iban:
          type: string
          description: account's IBAN
        interest_rate:
          type: number
          description: interest rate of the account as percentage value
        next_payment_amount:
          type: number
          description: next payment amount for loans or credits
        next_payment_date:
          type: string
          description: next payment date for loans or credits
          format: date
        open_date:
          type: string
          description: the date when any type of account/card was opened
          format: date
        opening_balance:
          type: number
          description: account balance that is brought forward from the end of one accounting period to the beginning of a new accounting period
        partial:
          type: boolean
          description: account transactions were not imported or imported partially because of some internal error on the provider's side
        sort_code:
          type: string
          description: routing number(US)/BSB code(Australia)/sort code(UK)
        statement_cut_date:
          type: string
          description: date when current statement becomes previous one
          format: date
        status:
          type: string
          description: shows whether the account is `active` or `inactive`
        swift:
          type: string
          description: account SWIFT code
        total_payment_amount:
          type: number
          description: total payment amount for loans or credits
        transactions_count:
          $ref: '#/components/schemas/TransactionsCount'
        payment_type:
          type: string
          description: account payment method
        cashback_amount:
          type: number
          description: accumulated CashBack / Cash Benefit
        monthly_total_payment:
          type: number
          description: the amount a borrower was paid for a month
        minimum_payment:
          type: number
          description: the lowest amount you can pay on your credit card to avoid penalties
        premium_frequency:
          type: string
          description: frequency of premium payments
        policy_status:
          type: string
          description: current policy status
        life_assured_name:
          type: string
          description: name of the person who is assured
        premium_amount:
          type: number
          description: premium amount to be paid
        single_premium_amount:
          type: number
          description: single premium amount to be paid
        financial_consultant:
          type: string
          description: financial consultant name
        total_reversionary_bonus:
          type: number
          description: reversionary bonus accumulated amount
        gross_surrender:
          type: number
          description: current Gross Surrender value
        guaranteed_gross_surrender:
          type: number
          description: guaranteed Gross Surrender value
        reversionary_bonus_cash_value:
          type: number
          description: cash value of reversionary bonus
        owned_policy_amount:
          type: number
          description: amount currently own on policy
        policy_loan_limit:
          type: number
          description: maximum amount of additional Policy Loan
        policy_converted_to_paid_up:
          type: number
          description: new assured sum if Policy is converted to paid up
        paid_up_conversion_reversionary_bonus:
          type: number
          description: reversionary bonus amount after `Policy to paid up` conversion
        policy_components:
          type: object
          description: policy components with own values such as (`status`, `amount_assured`, `amount_premium`, `start_date`, `expiry_date`, `premium_expiry_date`, `assured_name`)"
        investment_amount:
          type: number
          description: total invested amount
        unit_price:
          type: number
          description: price per unit (used with units)
        units:
          type: number
          description: amount of units owned (used with unit_price)
        indicative_unit_price:
          type: number
          description: indicative price per unit (used with units)
        interest_income:
          type: number
          description: amount of interest income/profit
        interest_amount:
          type: number
          description: interest amount in currency
        profit_amount:
          type: number
          description: amount of profit/loss of investment account
        profit_rate:
          type: number
          description: investment account rate of profit/loss as percentage value
        asset_class:
          type: string
          description: class of investment asset
        product_type:
          type: string
          description: investment product type
        total_unit_value:
          type: number
          description: total units value of fund holding
        fund_holdings:
          type: object
          description: fund holdings list with own values such as (`investment_percentage`, `balance`, `bid_price`, `value`, `value_date`, `total_quantity`, `available_quantity`, `actual_price`, `actual_value`)"
    GeneralAccountExtra:
      title: GeneralAccountExtra
      type: object
      properties:
        account_name:
          type: string
          description: changeable name of the account
        account_number:
          type: string
          description: internal bank account number
        assets:
          type: array
          items:
            type: string
          description: array of crypto codes and their amounts assigned to investment account
        available_amount:
          type: number
          description: available amount in the account's currency
        balance_type:
          type: string
          description: >-
            __Examples:__ `interimAvailable`, `closingBooked`, `interimBooked`, `authorised`, `expected`, `BOOKED`, `CLAV`, `CLBD`, `XPCD`, `OTHR`, etc.


            __Note:__ The value is specific to the financial institution and can vary depending on the API standard, the bank's implementation, the account's type, country/region peculiarities, etc. This field holds an informative meaning. Usually, it is used to verify the balance consistency between customers of the same bank or between banks within the same country.
        blocked_amount:
          type: number
          description: the amount currently blocked in account's currency
        card_type:
          $ref: '#/components/schemas/CardType'
        cards:
          type: array
          items:
            type: string
          description: list of masked card numbers linked to the account
        client_name:
          type: string
          description: account client owner
        closing_balance:
          type: number
          description: account balance at the end of an accounting period
        credit_limit:
          type: number
          description: maximum amount of money that is allowed to be spent in account's currency
        current_date:
          type: string
          description: date of provider statement generation (applicable to banks)
          format: date
        current_time:
          type: string
          description: time of provider statement generation (applicable to banks)
          format: date-time
        expiry_date:
          type: string
          description: card expiry date
          format: date
        iban:
          type: string
          description: account's IBAN
        interest_rate:
          type: number
          description: interest rate of the account as percentage value
        next_payment_amount:
          type: number
          description: next payment amount for loans or credits
        next_payment_date:
          type: string
          description: next payment date for loans or credits
          format: date
        open_date:
          type: string
          description: the date when any type of account/card was opened
          format: date
        opening_balance:
          type: number
          description: account balance that is brought forward from the end of one accounting period to the beginning of a new accounting period
        partial:
          type: boolean
          description: account transactions were not imported or imported partially because of some internal error on the provider's side
        sort_code:
          type: string
          description: routing number(US)/BSB code(Australia)/sort code(UK)
        statement_cut_date:
          type: string
          description: date when current statement becomes previous one
          format: date
        status:
          type: string
          description: shows whether the account is `active` or `inactive`
        swift:
          type: string
          description: account SWIFT code
        total_payment_amount:
          type: number
          description: total payment amount for loans or credits
        transactions_count:
          $ref: '#/components/schemas/TransactionsCount'
        payment_type:
          type: string
          description: account payment method
        cashback_amount:
          type: number
          description: accumulated CashBack / Cash Benefit
        monthly_total_payment:
          type: number
          description: the amount a borrower was paid for a month
        minimum_payment:
          type: number
          description: the lowest amount you can pay on your credit card to avoid penalties
    InvestmentAccountExtra:
      title: InvestmentAccountExtra
      type: object
      properties:
        investment_amount:
          type: number
          description: total invested amount
        unit_price:
          type: number
          description: price per unit (used with units)
        units:
          type: number
          description: amount of units owned (used with unit_price)
        indicative_unit_price:
          type: number
          description: indicative price per unit (used with units)
        interest_income:
          type: number
          description: amount of interest income/profit
        interest_amount:
          type: number
          description: interest amount in currency
        profit_amount:
          type: number
          description: amount of profit/loss of investment account
        profit_rate:
          type: number
          description: investment account rate of profit/loss as percentage value
        asset_class:
          type: string
          description: class of investment asset
        product_type:
          type: string
          description: investment product type
        total_unit_value:
          type: number
          description: total units value of fund holding
        fund_holdings:
          type: object
          description: fund holdings list with own values such as (`investment_percentage`, `balance`, `bid_price`, `value`, `value_date`, `total_quantity`, `available_quantity`, `actual_price`, `actual_value`)"
    InsuranceAccountExtra:
      title: InsuranceAccountExtra
      type: object
      properties:
        premium_frequency:
          type: string
          description: frequency of premium payments
        policy_status:
          type: string
          description: current policy status
        life_assured_name:
          type: string
          description: name of the person who is assured
        premium_amount:
          type: number
          description: premium amount to be paid
        single_premium_amount:
          type: number
          description: single premium amount to be paid
        financial_consultant:
          type: string
          description: financial consultant name
        total_reversionary_bonus:
          type: number
          description: reversionary bonus accumulated amount
        gross_surrender:
          type: number
          description: current Gross Surrender value
        guaranteed_gross_surrender:
          type: number
          description: guaranteed Gross Surrender value
        reversionary_bonus_cash_value:
          type: number
          description: cash value of reversionary bonus
        owned_policy_amount:
          type: number
          description: amount currently own on policy
        policy_loan_limit:
          type: number
          description: maximum amount of additional Policy Loan
        policy_converted_to_paid_up:
          type: number
          description: new assured sum if Policy is converted to paid up
        paid_up_conversion_reversionary_bonus:
          type: number
          description: reversionary bonus amount after `Policy to paid up` conversion
        policy_components:
          type: object
          description: policy components with own values such as (`status`, `amount_assured`, `amount_premium`, `start_date`, `expiry_date`, `premium_expiry_date`, `assured_name`)"
    AccountsResponse:
      title: AccountsResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
          description: ''
        meta:
          $ref: '#/components/schemas/MetaObject'
    AssetsResponse:
      title: AssetsResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Datum'
          description: ''
    Attempt:
      title: Attempt
      required:
      - api_mode
      - api_version
      - automatic_fetch
      - daily_refresh
      - categorization
      - created_at
      - custom_fields
      - device_type
      - remote_ip
      - exclude_accounts
      - user_present
      - customer_last_logged_at
      - fail_at
      - fail_error_class
      - fail_message
      - fetch_scopes
      - finished
      - finished_recent
      - from_date
      - id
      - interactive
      - locale
      - partial
      - store_credentials
      - success_at
      - to_date
      - updated_at
      - show_consent_confirmation
      - include_natures
      - stages
      type: object
      properties:
        api_mode:
          $ref: '#/components/schemas/ApiMode'
        api_version:
          type: string
          description: the API version in which the attempt was created
        automatic_fetch:
          type: boolean
          description: whether the connection related to the attempt can be automatically fetched
        daily_refresh:
          type: boolean
          description: latest assigned value for `daily_refresh` in connection
        categorization:
          $ref: '#/components/schemas/Categorization'
        created_at:
          type: string
          description: when the attempt was made
          format: date-time
        custom_fields:
          type: object
          description: the custom fields that had been sent when creating connection/connect\_session/oauth\_provider
        device_type:
          $ref: '#/components/schemas/DeviceType'
        remote_ip:
          type: string
          description: the IP of the device that created the attempt
        exclude_accounts:
          type: array
          items:
            type: string
          description: the `ids` of accounts that do not need to be refreshed
        user_present:
          type: boolean
          description: whether the request was initiated by the end-user of your application
        customer_last_logged_at:
          type: string
          description: the datetime when user was last active in your application
          format: date-time
        fail_at:
          type: string
          description: when the attempt failed to finish
          format: date-time
        fail_error_class:
          type: string
          description: class of error that triggered the fail for attempt
        fail_message:
          type: string
          description: message that describes the error class
        fetch_scopes:
          type: array
          items:
            $ref: '#/components/schemas/FetchScope'
          description: fetching mode.
        finished:
          type: boolean
          description: whether the connection had finished fetching
        finished_recent:
          type: boolean
          description: whether the connection had finished data for recent range
        from_date:
          type: string
          description: date from which the data had been fetched
          format: date
        id:
          type: string
          description: '`id` of the attempt'
        interactive:
          type: boolean
          description: whether the connection related to the attempt is interactive
        locale:
          type: string
          description: "the language of the Connect widget or/and provider error message in the <a href='http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes' target=\"_blank\">ISO 639-1</a> format. Possible values are: `bg`, `cz`, `de`, `en`, `es-MX`, `es`, `fr`, `he`, `hu`, `it`, `nl`, `pl`, `pt-BR`, `pt`, `ro`, `ru`, `sk`, `tr`, `uk`, `zh-HK`(Traditional), `zh`(Simplified). Defaults to `en`"
        partial:
          type: boolean
          description: whether the connection was partially fetched
        store_credentials:
          type: boolean
          description: whether the credentials were stored on our side
        success_at:
          type: string
          description: when the attempt succeeded and finished
          format: date-time
        to_date:
          type: string
          description: date until which the data has been fetched
          format: date-time
        updated_at:
          type: string
          description: when last attempt update occurred
          format: date-time
        show_consent_confirmation:
          type: boolean
          description: whether any consent was given for this connection
        include_natures:
          type: array
          items:
            type: string
          description: the natures of the accounts that need to be fetched
        stages:
          type: array
          items:
            $ref: '#/components/schemas/Stage'
          description: information about [stages](#attempts-stages) through which the connection has passed
    Stage:
      title: Stage
      required:
      - created_at
      - id
      - name
      - updated_at
      type: object
      properties:
        created_at:
          type: string
          description: when the stage was created
          format: date-time
        id:
          type: string
          description: the `id` of the stage
        interactive_fields_names:
          type: array
          items:
            type: string
          description: the interactive fields that are currently required by the provider. Appears only for the interactive connections
          nullable: true
        interactive_html:
          type: string
          description: HTML code that shows the current interactive state of the connection. Appears only for the interactive connections
          nullable: true
        name:
          $ref: '#/components/schemas/Name'
        updated_at:
          type: string
          description: when the stage was last updated
          format: date-time
    SimplifiedAttempt:
      title: SimplifiedAttempt
      type: object
      properties:
        api_mode:
          $ref: '#/components/schemas/ApiMode'
        api_version:
          type: string
          description: the API version in which the attempt was created
        automatic_fetch:
          type: boolean
          description: whether the connection related to the attempt can be automatically fetched
        daily_refresh:
          type: boolean
          description: latest assigned value for `daily_refresh` in connection
        categorization:
          $ref: '#/components/schemas/Categorization'
        created_at:
          type: string
          description: when the attempt was made
          format: date-time
        custom_fields:
          type: object
          description: the custom fields that had been sent when creating connection/connect\_session/oauth\_provider
        device_type:
          $ref: '#/components/schemas/DeviceType'
        remote_ip:
          type: string
          description: the IP of the device that created the attempt
        exclude_accounts:
          type: array
          items:
            type: string
          description: the `ids` of accounts that do not need to be refreshed
        user_present:
          type: boolean
          description: whether the request was initiated by the end-user of your application
        customer_last_logged_at:
          type: string
          description: the datetime when user was last active in your application
          format: date-time
        fail_at:
          type: string
          description: when the attempt failed to finish
          format: date-time
        fail_error_class:
          type: string
          description: class of error that triggered the fail for attempt
        fail_message:
          type: string
          description: message that describes the error class
        fetch_scopes:
          type: array
          items:
            $ref: '#/components/schemas/FetchScope'
          description: fetching mode.
        finished:
          type: boolean
          description: whether the connection had finished fetching
        finished_recent:
          type: boolean
          description: whether the connection had finished data for recent range
        from_date:
          type: string
          description: date from which the data had been fetched
          format: date
        id:
          type: string
          description: '`id` of the attempt'
        interactive:
          type: boolean
          description: whether the connection related to the attempt is interactive
        locale:
          type: string
          description: "the language of the Connect widget or/and provider error message in the <a href='http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes' target=\"_blank\">ISO 639-1</a> format. Possible values are: `bg`, `cz`, `de`, `en`, `es-MX`, `es`, `fr`, `he`, `hu`, `it`, `nl`, `pl`, `pt-BR`, `pt`, `ro`, `ru`, `sk`, `tr`, `uk`, `zh-HK`(Traditional), `zh`(Simplified). Defaults to `en`"
        partial:
          type: boolean
          description: whether the connection was partially fetched
        store_credentials:
          type: boolean
          description: whether the credentials were stored on our side
        success_at:
          type: string
          description: when the attempt succeeded and finished
          format: date-time
        to_date:
          type: string
          description: date until which the data has been fetched
          format: date-time
        updated_at:
          type: string
          description: when last attempt update occurred
          format: date-time
        show_consent_confirmation:
          type: boolean
          description: whether any consent was given for this connection
        include_natures:
          type: array
          items:
            type: string
          description: the natures of the accounts that need to be fetched
        last_stage:
          $ref: '#/components/schemas/Stage'
    AttemptsResponse:
      title: AttemptsResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SimplifiedAttempt'
          description: ''
    AttemptResponse:
      title: AttemptResponse
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Attempt'
    AttemptRequestBody:
      title: AttemptRequestBody
      required:
      - store_credentials
      type: object
      properties:
        fetch_scopes:
          type: array
          items:
            $ref: '#/components/schemas/FetchScope'
          description: fetching mode. Defaults to [consent](#consents-object) scopes. The allowed values for this parameter must comply to the [consent](#consents-object) `scopes` restriction.
        from_date:
          type: string
          description: date from which you want to fetch data for your connection. Defaults to [consent](#consents-object) `from_date`. The allowed values for this parameter must be within exactly 365 days ago and it should comply to the fetching period restrictions in the [consent](#consents-object).
          format: date
        to_date:
          type: string
[...]
